/*Editando layout*/
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    color: #222;
    margin: 0 auto;
    border-color: #34676f;
}

.btn-primary {
    background-color: #3d7881;
    border-color: #34676f;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background-color: #2c565c;
        border-color: #34676f;
    }

.navbar-inverse {
    background-color: #3d7881;
    border-color: #34676f;
}

    .navbar-inverse .navbar-brand {
        color: white;
        border-color: #34676f;
    }
