
@{
    ViewData["Title"] = "Index";
    Personagem personagem = (Personagem)ViewBag.Personagem;
}

<div>
    <div class="editor-label">
        Personagens
    </div>
    <div class="editor-field">
        @Html.DropDownList("Personagens")
    </div>
</div>

