
@{
    ViewData["Title"] = "Index";
}
<br />
<div id="error"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="personagens">Personagem</label>
                        @Html.DropDownList("personagens", null, string.Empty, new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="listaQuadrinhos">
                        <label for="quadrinhos">História em quadrinhos</label>
                        @Html.DropDownList("quadrinhos", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button id="limpar" class="btn btn-light mb-2 btn-block"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Limpar</button>
                        </div>
                        <div class="col-md-6">
                            <button id="enviar" class="btn btn-primary mb-2 btn-block"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="painelPersonagem">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Personagem</strong></div>
                <div class="panel-body" id="pbPersonagem">
                    <div class="media" id="mediaPersonagem">
                        <div class="media-left media-middle">
                            <div id="imgPersonagem"></div>
                        </div>
                        <div class="media-body">
                            <div class="media-heading"><div id="nomePersonagem"></div></div>
                            <div id="descPersonagem"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br clear="all" />
    <div class="row">
        <div class="col-md-12" id="painelQuadrinho">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>História em quadrinhos</strong></div>
                <div class="panel-body" id="pbQuadrinho">
                    <div class="media" id="mediaQuadrinho">
                        <div class="media-left media-middle">
                            <div id="imgQuadrinho"></div>
                        </div>
                        <div class="media-body">
                            <div class="media-heading"><div id="tituloQuadrinho"></div></div>
                            <div id="descQuadrinho"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#error').hide();
        $('#error').addClass('alert alert-danger');
        if($('#personagens').val() === "") {
            $('#painelPersonagem').hide();
            $('#listaQuadrinhos').hide();
        }
        ($('#quadrinhos').val() === null) && $('#painelQuadrinho').hide();

        var personagem = null;

        $('#personagens').change(() => {
            $('#painelQuadrinho').hide();
            $('#quadrinhos').empty();
            var idPersonagem = $('#personagens').val();

            if (!idPersonagem) {
                $('#painelPersonagem').hide();
                $('#listaQuadrinhos').hide();
            }
            else {
                $.ajax("/Index/RetornaPersonagem", {
                    dataType: "JSON",
                    type: "GET",
                    data: { id: idPersonagem },
                    beforeSend: () => {
                        $('#mediaPersonagem').hide();
                        $('#pbPersonagem').addClass('loader center-block');
                    },
                    complete: () => {
                        $('#pbPersonagem').removeClass('loader center-block');
                        $('#mediaPersonagem').show();
                    },
                    success: (json) => {
                        personagem = new Personagem(json.Id, json.Nome, json.Descricao, json.ImagemUrl);

                        carregaPersonagem(personagem);
                    },
                    error: (err) => {
                        $('#error').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span><text> Não foi possível carregar o personagem, por favor tente novamente mais tarde.</text>');
                        $('#error').show();
                        console.log(err);
                    }
                });

                $.ajax("/Index/RetornaListaQuadrinhos", {
                    dataType: "JSON",
                    type: "GET",
                    data: { idPersonagem: idPersonagem },
                    success: (json) => {
                        carregaDropdownQuadrinhos(json);
                    },
                    error: (err) => {
                        $('#error').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span><text> Não foi possível carregar a lista de história em quadrinhos, por favor tente novamente mais tarde.</text>');
                        $('#error').show();
                        console.log(err);
                    }
                });

                $('#listaQuadrinhos').show();
            }
        });

        $('#enviar').click(() => {
            var idQuadrinho = $('#quadrinhos').val();
            if (!idQuadrinho) {
                $('#painelQuadrinho').hide();
            }
            else {
                $.ajax("Index/RetornaQuadrinho", {
                    dataType: "JSON",
                    type: "GET",
                    data: { id: idQuadrinho },
                    beforeSend: () => {
                        $('#mediaQuadrinho').hide();
                        $('#pbQuadrinho').addClass('loader center-block');
                    },
                    complete: () => {
                        $('#pbQuadrinho').removeClass('loader center-block');
                        $('#mediaQuadrinho').show();
                    },
                    success: (json) => {
                        quadrinho = new Quadrinho(json.Id, json.Titulo, json.Descricao, json.ImagemUrl);

                        carregaQuadrinho(quadrinho);
                    },
                    error: (err) => {
                        $('#error').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span><text> Não foi possível carregar a história em quadrinhos, por favor tente novamente mais tarde.</text>');
                        $('#error').show();
                        console.log(err);
                    }
                });
            }
        });

        $('#limpar').click(() => {
            limparTela();
        });

    });

    let carregaPersonagem = (personagem) => {
        $('#error').hide();
        var semDescricao = "Personagem sem descrição.";
        $('#nomePersonagem').html('<h4>' + personagem.Nome + '</h4>');
        $('#imgPersonagem').html('<img src="' + personagem.ImagemUrl.replace("http", "https") + '"></img>');
        $('#descPersonagem').html((!personagem.Descricao) ? semDescricao : personagem.Descricao);

        (personagem != null) && $('#painelPersonagem').show();
    };

    let carregaDropdownQuadrinhos = (json) => {
        $('#error').hide();
        $('#quadrinhos').empty();
        $('#quadrinhos').append('<option value=""></option>');
        for (var i = 0; i < json.length; i++) {
            $('#quadrinhos').append('<option value="' + json[i].Id + '">' + json[i].Titulo + '</option>');
        }
    };

    let carregaQuadrinho = (quadrinho) => {
        $('#error').hide();
        var semDescricao = "Quadrinho sem descrição.";
        $('#tituloQuadrinho').html('<h4>' + quadrinho.Titulo + '</h4>');
        $('#imgQuadrinho').html('<img src="' + quadrinho.ImagemUrl.replace("http", "https") + '"></img>');
        $('#descQuadrinho').html((!quadrinho.Descricao) ? semDescricao : quadrinho.Descricao);

        if (quadrinho != null) {
            $('.footer').css({ "position": "relative" });
            $('#painelQuadrinho').show();
        }
    };

    let limparTela = () => {
        $('#personagens').val("");
        $('#quadrinhos').empty();
        $('#painelPersonagem').hide();
        $('#painelQuadrinho').hide();
        $('#error').hide();
    }

    class Personagem {
        constructor(id, nome, descricao, imagemUrl) {
            this.Id = id;
            this.Nome = nome;
            this.Descricao = descricao;
            this.ImagemUrl = imagemUrl;
        }
    }

    class Quadrinho {
        constructor(id, titulo, descricao, imagemUrl) {
            this.Id = id;
            this.Titulo = titulo;
            this.Descricao = descricao;
            this.ImagemUrl = imagemUrl;
        }
    }

</script>
